conda install pandas

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([10,20,30,40,50]) # 자동으로 붙은 인덱스와 값 (index,vales)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
print(s1.index) # 인데스를 찍어보자

RangeIndex(start=0, stop=5, step=1)

In [8]:
print(s1.values) # 벨률를 찍어보자

[10 20 30 40 50]

In [11]:
print(type(s1.values))  #numpy 배열 타입으로 설정되어있다.

<class 'numpy.ndarray'>

In [5]:
#서로 다른 타입을 할수 있지만 타입은 object타입이다. 이렇게 쓰는것을 지양해야한다.
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3]) 
print(s2)

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [15]:
import numpy as np

null값 출력

In [17]:
s = pd.Series([np.nan,1,2]) # 데이터 없는 부부을 nan(not a number)의로 나타낼수 있다.
print(s)

0    NaN
1    1.0
2    2.0
dtype: float64

인덱스 부여

In [18]:
index_date = ['2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23']
s4 = pd.Series([200, 187, np.nan, 210], index=index_date)
print(s4)

2020-03-20    200.0
2020-03-21    187.0
2020-03-22      NaN
2020-03-23    210.0
dtype: float64

판다스를 딕셔어리 타입으로도 만들수있다

In [20]:
s5 = pd.Series({'국어':100, '영어':95, '수학':100})
print(s5)

국어    100
영어     95
수학    100
dtype: int64

date_range

In [21]:
p = pd.date_range(start='2020-01-20', end='2020-01-27')
print(p)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27'],
              dtype='datetime64[ns]', freq='D')

In [22]:
p = pd.date_range(start='2020/01/20', end='2020.01.27')  # /과 .을 사용할수 있으나 내부적으로 -이것으로 출력
print(p)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27'],
              dtype='datetime64[ns]', freq='D')

In [24]:
p = pd.date_range(start='2020-05-01', periods=7)  #값을 줘서 출력 가능
print(p)

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07'],
              dtype='datetime64[ns]', freq='D')

#### 판다스 공식 문서   
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

In [25]:
p = pd.date_range(start='2020-01-01', periods=4, freq='2D')
print(p)

DatetimeIndex(['2020-01-01', '2020-01-03', '2020-01-05', '2020-01-07'], dtype='datetime64[ns]', freq='2D')

In [28]:
p = pd.date_range(start='2023-02-01', periods=5, freq='W') # W은 주, 일요일이 디폴트
print(p)

DatetimeIndex(['2023-02-05', '2023-02-12', '2023-02-19', '2023-02-26',
               '2023-03-05'],
              dtype='datetime64[ns]', freq='W-SUN')

In [29]:
p = pd.date_range(start='2023-02-01', periods=5, freq='W-MOn') # 월요일로 변경
print(p)

DatetimeIndex(['2023-02-06', '2023-02-13', '2023-02-20', '2023-02-27',
               '2023-03-06'],
              dtype='datetime64[ns]', freq='W-MON')

In [30]:
p = pd.date_range(start='2023-02-01', periods=12, freq='2BM') # 2달씩 평일 마지막날
print(p)

DatetimeIndex(['2023-02-28', '2023-04-28', '2023-06-30', '2023-08-31',
               '2023-10-31', '2023-12-29', '2024-02-29', '2024-04-30',
               '2024-06-28', '2024-08-30', '2024-10-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='2BM')

In [3]:
p = pd.date_range(start='2023-01-03', periods=4, freq='QS')  #사사분기를 현시점에서 출력해줘
print(p)

DatetimeIndex(['2023-04-01', '2023-07-01', '2023-10-01', '2024-01-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [34]:
p = pd.date_range(start='2023-01-01', periods=3, freq='AS') #anual start
print(p)

DatetimeIndex(['2023-01-01', '2024-01-01', '2025-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [36]:
p = pd.date_range(start='2023-02-01 08:00', periods=10, freq='H') # 시간
print(p)

DatetimeIndex(['2023-02-01 08:00:00', '2023-02-01 09:00:00',
               '2023-02-01 10:00:00', '2023-02-01 11:00:00',
               '2023-02-01 12:00:00', '2023-02-01 13:00:00',
               '2023-02-01 14:00:00', '2023-02-01 15:00:00',
               '2023-02-01 16:00:00', '2023-02-01 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [37]:
p = pd.date_range(start='2023-02-01 08:00', periods=10, freq='BH')
print(p)

DatetimeIndex(['2023-02-01 09:00:00', '2023-02-01 10:00:00',
               '2023-02-01 11:00:00', '2023-02-01 12:00:00',
               '2023-02-01 13:00:00', '2023-02-01 14:00:00',
               '2023-02-01 15:00:00', '2023-02-01 16:00:00',
               '2023-02-02 09:00:00', '2023-02-02 10:00:00'],
              dtype='datetime64[ns]', freq='BH')

In [38]:
cbh = pd.offsets.CustomBusinessHour(start='09:00', 
                                    end='18:00', 
                                    weekmask='Mon Tue Wed Thu Fri')
print(cbh)

p2 = pd.date_range(start='2023-02-01 08:00', periods=10, freq=cbh)
print(p2)

<CustomBusinessHour: CBH=09:00-18:00>
DatetimeIndex(['2023-02-01 09:00:00', '2023-02-01 10:00:00',
               '2023-02-01 11:00:00', '2023-02-01 12:00:00',
               '2023-02-01 13:00:00', '2023-02-01 14:00:00',
               '2023-02-01 15:00:00', '2023-02-01 16:00:00',
               '2023-02-01 17:00:00', '2023-02-02 09:00:00'],
              dtype='datetime64[ns]', freq='CBH')

In [42]:
p = pd.date_range(start='2020-01-01 10:00', periods=4, freq='30min')
print(p)

DatetimeIndex(['2020-01-01 10:00:00', '2020-01-01 10:30:00',
               '2020-01-01 11:00:00', '2020-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [40]:
p = pd.date_range(start='2020-01-01 10:00:00', periods=4, freq='10S')
print(p)

DatetimeIndex(['2020-01-01 10:00:00', '2020-01-01 10:00:10',
               '2020-01-01 10:00:20', '2020-01-01 10:00:30'],
              dtype='datetime64[ns]', freq='10S')

In [43]:
index_date = pd.date_range(start='2020-05-01', periods=5, freq='D')
p = pd.Series([51, 63, 59, 48, 60], index=index_date)
print(p)

2020-05-01    51
2020-05-02    63
2020-05-03    59
2020-05-04    48
2020-05-05    60
Freq: D, dtype: int64